services:
  backend:
    build:
      dockerfile: Dockerfile
    ports:
      - "8008:8008"
    command: ["sh", "-c", "uv run backend/app.py"]
    volumes:
      - .:/backend
      - /backend/.venv

  frontend:
    build:
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "5173:5173"
    command: ["sh", "-c", "uv run python -m http.server 5173 --directory frontend"]
    volumes:
      - .:/backend
      - /backend/.venv
